div {
    border: 1px solid black;
}

header {
    border: 1px solid black;
}

footer {
    float: top;
    border: 1px solid black;
}

#variables {
    float: left;
    display: flex;
    height: inherit;
    flex-direction: column;
    width: 350px;
    height: inherit;
    overflow-y: auto;
    border-bottom: 2px dashed rgb(0, 0, 0);
}

#rightBlock {
    height: 600px;
    width: auto;
    overflow: hidden;
    position: relative;
}

.variable {
    min-height: 140px;
    display: flex;
    align-items: center;
    padding-left: 3%;
    position: relative;
}

#main {
    height: 600px;
    width: 100%;
}

.variable .equalSign {
    margin-left: 5px;
}

.variable .matrixBlock {
    display: flex;
    margin-left: 5px;
    flex-direction: column;
    justify-content: center;
    border: 2px dashed rgb(0, 0, 0);
    width: 150px;
    height: 100px;
}

.fraction {
    margin: 2px;
    margin-top: 4px;
}

.variable .matrixBlock .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.variable .augmentedZone {
    height: 100px;
    width: 35px;
    display: flex;
    align-items: center;
}

.variable .numerator input {
    width: 20px;
    height: 10px;
}

.variable .denominator input {
    width: 20px;
    height: 10px;
}

.variable .height input {
    width: 8px;
    height: 12px;
}

.variable .width input {
    width: 8px;
    height: 12px;
}

.variable .augmentedZone .augmentedMatrixBlock {
    border-top: 2px dashed rgb(0, 0, 0);
    border-bottom: 2px dashed rgb(0, 0, 0);
    border-right: 2px dashed rgb(44, 9, 9);
    width: inherit;
    display: flex;
    justify-content: center;
    height: inherit;
}

.variable .augmentedZone .augmentedButtonContainer {
    width: fit-content;
}

.variable .augmentedZone .reduceMatrixButtonContainer {
    display: flex;
    align-items: right;
}

.variable .augmentedZone button {
    z-index: 10;
}

.variable .deleteVariableButton {
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 50px;
}

#addVariableButtonContainer {
    text-align: center;
    margin-top: 5px;
}

#resultBlock {
    position: absolute;
    left: 42%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    border: 2px dashed rgb(0, 0, 0);
}

#input {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 25%;
    z-index: 10;
    top: 20%;
}

#calculateButton {
    margin-left: 5px;
}

input {
    width: 550px;
}